<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <!-- <h3 id="site-title">Jon Kimble</h3> -->

  <div>
    <ul>
      <li><a href="#aboutme" id="site-title"><strong>Jon Kimble</strong></a></li>
      <li><a href="#twitter">About</a></li>
      <li><a href="#blog-section">Blog</a></li>
      <li><a href="#contact-me">Contact</a></li>
    </ul>
  </div>

  <div id="bar1">
    <p id="aboutme">Hi my name is Jon Kimble, I'm currently studying web development at the Turing School of Software Design. I am passionate about learning, design, software, and helping others</p>
  </div>
  <div class="container">
